@function vw($n) {
    @return ($n *100 / 750) + vw;
}

html{
    width:100vw;
    height: 100vh;
    .home{
        height: vw(100);
        background-color: red;
        box-sizing: border-box;
        padding: vw(10);
        display: flex;
        .text{
            height: vw(80);
            width: vw(80);
            margin-right: vw(20);
            text-align: center;
            line-height: vw(80);
            color: white;
            font-size: 18px;
        }
        section{
            height: vw(60);
            width: vw(580);
            padding: vw(10) 0;
            display: flex;
            input{
                height: vw(60);
                width: vw(450);
                border-radius: vw(30) 0 0 vw(30);
                padding-left:vw(50) ;
                border: 0;
                outline: none;
            }
            button{
                height: vw(60);
                width: vw(100);
                border-radius: 0 vw(30) vw(30) 0;
                border: 0;
            }
        }    
    }
    .banner{
        width:100vw;
        height: vw(375);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .content{
        width: 100vw;
        overflow-y: hidden;
        .top{
            height: vw(272);
            padding: vw(20);
            box-sizing: border-box;
            .t-one{
                width: vw(660);
                height: vw(100);
                margin: 0 auto vw(20);
                img{
                    height: 100%;
                    width: 100%; 
                }
            }
            .t-two{
                height: vw(100);
                display: flex;
                justify-content: space-around;
                section{
                    width:vw(324);
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .shop-nav{
            height: vw(145);
            box-sizing: border-box;
            padding: vw(20);
            ul{
                display: flex;
                justify-content: space-around;
                width: vw(710);
                height: vw(105);
                box-sizing: border-box;
                margin: 0;
                li{
                    display: flex;
                    flex-direction: column;
                    img{
                        height: vw(62);
                        width: vw(62);
                        margin: 0 auto;
                    }
                    span{
                        height: vw(24);
                        text-align: center;
                        line-height: vw(24);
                    }
                }
            }
        }
        .newList{
            width: 100vw;
            h3{
               height:vw(80) ;
               padding: vw(10);
               padding-left: vw(50);
               box-sizing: border-box;
               margin: 0;
               color: red;
                font-weight: bold;
            }
            ul{
                height: vw(190);
                display: flex;
                justify-content: space-between;
                overflow-x: auto;
                li{
                    margin-right: vw(10);
                    img{
                       width: vw(300);
                    }
                }
            } 
        }
        .seckill{
            width: 100vw;
            h3{
                height:vw(80) ;
                padding: vw(10);
                padding-left: vw(50);
                box-sizing: border-box;
                margin: 0;
                color: red;
                font-weight: bold;
            }
            ul{
                height: vw(240);
                display: flex;
                justify-content: space-between;
                overflow-x: auto;
                li{
                    margin-right: vw(10);
                    display: flex;
                    flex-direction: column;
                    img{
                        width: vw(200);
                        height: vw(200);
                    }
                    section{
                        width: vw(200);
                        height: vw(24);
                        display: flex;
                        font-size: 9px;
                        span{
                            width: vw(140);
                            color: red;
                        }
                        del{
                            width: vw(60);
                        }
                    }
                }
            }
            
        }
        .goods{
            width: 100vw;
            h3{
                height:vw(80) ;
                padding: vw(10);
                padding-left: vw(50);
                box-sizing: border-box;
                margin: 0;
                color: red;
                font-weight: bold;
            }
            .pic{
                height: vw(372);
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            ul{
                height: vw(400);
                display: flex;
                justify-content: space-between;
                overflow-x: auto;
                box-sizing: border-box;
                padding: vw(20);
                li{
                    margin-right: vw(10);
                    display: flex;
                    flex-direction: column;
                    img{
                        width: vw(250);
                        height: vw(250);
                    }
                    p{
                        width: vw(250);
                        height: vw(37);
                        font-size: 12px;
                        margin: vw(10) 0;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        white-space:nowrap;
                    }
                    .one{
                        width: vw(250);
                        height:vw(24) ;
                        color: gray;
                        font-size: 12px;
                        margin-bottom: vw(10);
                    }
                    .two{
                        width: vw(250);
                        height: vw(26);
                        font-size: 12px;
                    }
                }
            }
        }
        
    }
    footer{
        height: vw(100);
    }
}