@charset "utf-8";
p,span,div,u,i,b,mark,em,strong,ul,li,ol,dl,dd,dt,a,img,table,tr,td,input,form,button,textarea,select,option,h1,h2,h3,h4,h5,h6,section,area,article,aside,header,footer,figure,figcaption,br,nav,main,hgroup,time,dialog,video,audio,html,body{
    margin: 0;
    padding: 0;
    border: none;
    
}
a{
    text-decoration: none;
    color:black;
}
li{
    list-style: none;
}